import React from "react";
import { Platform, View } from "react-native";
import { AdMobBanner } from "expo-ads-admob";

export default function Admob() {
  return (
    <View>
      <AdMobBanner
        adUnitID={
          __DEV__
            ? "広告ユニットテストID"
            : Platform.select({
                ios: "広告ユニットID",
                android: "",
              })
        }
        onDidFailToReceiveAdWithError={(error) => {
          console.log(error);
        }}
        servePersonalizedAds
      />
    </View>
  );
}
